terraform/step_functions_definition.json
{
  "Comment": "10 parallel branches, each executing 20 sequential Lambda calls with random payload selection",
  "StartAt": "InitializePayloads",
  "States": {
    "InitializePayloads": {
      "Type": "Pass",
      "Result": {
        "payloads": {
          "greet_payload": {
            "headers": {
              "spring.cloud.function.definition": "greet"
            },
            "payload": {
              "name": "Alice"
            }
          },
          "upper_payload": {
            "headers": {
              "spring.cloud.function.definition": "upper"
            },
            "payload": "hello world from step functions"
          }
        }
      },
      "Next": "ParallelExecution"
    },
    "ParallelExecution": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Branch0_Step1",
          "States": {
            "Branch0_Step1": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch0_Step2"
            },
            "Branch0_Step2": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch0_Step3"
            },
            "Branch0_Step3": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch0_Step4"
            },
            "Branch0_Step4": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch0_Step5"
            },
            "Branch0_Step5": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch0_Step6"
            },
            "Branch0_Step6": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch0_Step7"
            },
            "Branch0_Step7": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch0_Step8"
            },
            "Branch0_Step8": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch0_Step9"
            },
            "Branch0_Step9": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch0_Step10"
            },
            "Branch0_Step10": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch0_Step11"
            },
            "Branch0_Step11": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch0_Step12"
            },
            "Branch0_Step12": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch0_Step13"
            },
            "Branch0_Step13": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch0_Step14"
            },
            "Branch0_Step14": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch0_Step15"
            },
            "Branch0_Step15": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch0_Step16"
            },
            "Branch0_Step16": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch0_Step17"
            },
            "Branch0_Step17": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch0_Step18"
            },
            "Branch0_Step18": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch0_Step19"
            },
            "Branch0_Step19": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch0_Step20"
            },
            "Branch0_Step20": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "End": true
            }
          }
        },
        {
          "StartAt": "Branch1_Step1",
          "States": {
            "Branch1_Step1": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch1_Step2"
            },
            "Branch1_Step2": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch1_Step3"
            },
            "Branch1_Step3": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch1_Step4"
            },
            "Branch1_Step4": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch1_Step5"
            },
            "Branch1_Step5": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch1_Step6"
            },
            "Branch1_Step6": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch1_Step7"
            },
            "Branch1_Step7": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch1_Step8"
            },
            "Branch1_Step8": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch1_Step9"
            },
            "Branch1_Step9": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch1_Step10"
            },
            "Branch1_Step10": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch1_Step11"
            },
            "Branch1_Step11": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch1_Step12"
            },
            "Branch1_Step12": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch1_Step13"
            },
            "Branch1_Step13": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch1_Step14"
            },
            "Branch1_Step14": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch1_Step15"
            },
            "Branch1_Step15": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch1_Step16"
            },
            "Branch1_Step16": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch1_Step17"
            },
            "Branch1_Step17": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch1_Step18"
            },
            "Branch1_Step18": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch1_Step19"
            },
            "Branch1_Step19": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch1_Step20"
            },
            "Branch1_Step20": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "End": true
            }
          }
        },
        {
          "StartAt": "Branch2_Step1",
          "States": {
            "Branch2_Step1": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch2_Step2"
            },
            "Branch2_Step2": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch2_Step3"
            },
            "Branch2_Step3": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch2_Step4"
            },
            "Branch2_Step4": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch2_Step5"
            },
            "Branch2_Step5": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch2_Step6"
            },
            "Branch2_Step6": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch2_Step7"
            },
            "Branch2_Step7": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch2_Step8"
            },
            "Branch2_Step8": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch2_Step9"
            },
            "Branch2_Step9": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch2_Step10"
            },
            "Branch2_Step10": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch2_Step11"
            },
            "Branch2_Step11": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch2_Step12"
            },
            "Branch2_Step12": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch2_Step13"
            },
            "Branch2_Step13": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch2_Step14"
            },
            "Branch2_Step14": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch2_Step15"
            },
            "Branch2_Step15": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch2_Step16"
            },
            "Branch2_Step16": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch2_Step17"
            },
            "Branch2_Step17": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch2_Step18"
            },
            "Branch2_Step18": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch2_Step19"
            },
            "Branch2_Step19": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch2_Step20"
            },
            "Branch2_Step20": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "End": true
            }
          }
        },
        {
          "StartAt": "Branch3_Step1",
          "States": {
            "Branch3_Step1": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch3_Step2"
            },
            "Branch3_Step2": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch3_Step3"
            },
            "Branch3_Step3": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch3_Step4"
            },
            "Branch3_Step4": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch3_Step5"
            },
            "Branch3_Step5": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch3_Step6"
            },
            "Branch3_Step6": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch3_Step7"
            },
            "Branch3_Step7": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch3_Step8"
            },
            "Branch3_Step8": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch3_Step9"
            },
            "Branch3_Step9": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch3_Step10"
            },
            "Branch3_Step10": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch3_Step11"
            },
            "Branch3_Step11": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch3_Step12"
            },
            "Branch3_Step12": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch3_Step13"
            },
            "Branch3_Step13": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch3_Step14"
            },
            "Branch3_Step14": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch3_Step15"
            },
            "Branch3_Step15": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch3_Step16"
            },
            "Branch3_Step16": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch3_Step17"
            },
            "Branch3_Step17": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch3_Step18"
            },
            "Branch3_Step18": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch3_Step19"
            },
            "Branch3_Step19": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch3_Step20"
            },
            "Branch3_Step20": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "End": true
            }
          }
        },
        {
          "StartAt": "Branch4_Step1",
          "States": {
            "Branch4_Step1": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch4_Step2"
            },
            "Branch4_Step2": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch4_Step3"
            },
            "Branch4_Step3": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch4_Step4"
            },
            "Branch4_Step4": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch4_Step5"
            },
            "Branch4_Step5": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch4_Step6"
            },
            "Branch4_Step6": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch4_Step7"
            },
            "Branch4_Step7": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch4_Step8"
            },
            "Branch4_Step8": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch4_Step9"
            },
            "Branch4_Step9": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch4_Step10"
            },
            "Branch4_Step10": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch4_Step11"
            },
            "Branch4_Step11": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch4_Step12"
            },
            "Branch4_Step12": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch4_Step13"
            },
            "Branch4_Step13": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch4_Step14"
            },
            "Branch4_Step14": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch4_Step15"
            },
            "Branch4_Step15": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch4_Step16"
            },
            "Branch4_Step16": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch4_Step17"
            },
            "Branch4_Step17": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch4_Step18"
            },
            "Branch4_Step18": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch4_Step19"
            },
            "Branch4_Step19": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch4_Step20"
            },
            "Branch4_Step20": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "End": true
            }
          }
        },
        {
          "StartAt": "Branch5_Step1",
          "States": {
            "Branch5_Step1": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch5_Step2"
            },
            "Branch5_Step2": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch5_Step3"
            },
            "Branch5_Step3": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch5_Step4"
            },
            "Branch5_Step4": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch5_Step5"
            },
            "Branch5_Step5": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch5_Step6"
            },
            "Branch5_Step6": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch5_Step7"
            },
            "Branch5_Step7": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch5_Step8"
            },
            "Branch5_Step8": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch5_Step9"
            },
            "Branch5_Step9": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch5_Step10"
            },
            "Branch5_Step10": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch5_Step11"
            },
            "Branch5_Step11": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch5_Step12"
            },
            "Branch5_Step12": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch5_Step13"
            },
            "Branch5_Step13": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch5_Step14"
            },
            "Branch5_Step14": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch5_Step15"
            },
            "Branch5_Step15": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch5_Step16"
            },
            "Branch5_Step16": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch5_Step17"
            },
            "Branch5_Step17": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch5_Step18"
            },
            "Branch5_Step18": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch5_Step19"
            },
            "Branch5_Step19": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch5_Step20"
            },
            "Branch5_Step20": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "End": true
            }
          }
        },
        {
          "StartAt": "Branch6_Step1",
          "States": {
            "Branch6_Step1": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch6_Step2"
            },
            "Branch6_Step2": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch6_Step3"
            },
            "Branch6_Step3": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch6_Step4"
            },
            "Branch6_Step4": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch6_Step5"
            },
            "Branch6_Step5": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch6_Step6"
            },
            "Branch6_Step6": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch6_Step7"
            },
            "Branch6_Step7": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch6_Step8"
            },
            "Branch6_Step8": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch6_Step9"
            },
            "Branch6_Step9": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch6_Step10"
            },
            "Branch6_Step10": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch6_Step11"
            },
            "Branch6_Step11": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch6_Step12"
            },
            "Branch6_Step12": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch6_Step13"
            },
            "Branch6_Step13": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch6_Step14"
            },
            "Branch6_Step14": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch6_Step15"
            },
            "Branch6_Step15": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch6_Step16"
            },
            "Branch6_Step16": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch6_Step17"
            },
            "Branch6_Step17": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch6_Step18"
            },
            "Branch6_Step18": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch6_Step19"
            },
            "Branch6_Step19": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch6_Step20"
            },
            "Branch6_Step20": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "End": true
            }
          }
        },
        {
          "StartAt": "Branch7_Step1",
          "States": {
            "Branch7_Step1": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch7_Step2"
            },
            "Branch7_Step2": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch7_Step3"
            },
            "Branch7_Step3": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch7_Step4"
            },
            "Branch7_Step4": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch7_Step5"
            },
            "Branch7_Step5": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch7_Step6"
            },
            "Branch7_Step6": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch7_Step7"
            },
            "Branch7_Step7": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch7_Step8"
            },
            "Branch7_Step8": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch7_Step9"
            },
            "Branch7_Step9": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch7_Step10"
            },
            "Branch7_Step10": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch7_Step11"
            },
            "Branch7_Step11": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch7_Step12"
            },
            "Branch7_Step12": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch7_Step13"
            },
            "Branch7_Step13": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch7_Step14"
            },
            "Branch7_Step14": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch7_Step15"
            },
            "Branch7_Step15": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch7_Step16"
            },
            "Branch7_Step16": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch7_Step17"
            },
            "Branch7_Step17": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch7_Step18"
            },
            "Branch7_Step18": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch7_Step19"
            },
            "Branch7_Step19": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch7_Step20"
            },
            "Branch7_Step20": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "End": true
            }
          }
        },
        {
          "StartAt": "Branch8_Step1",
          "States": {
            "Branch8_Step1": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch8_Step2"
            },
            "Branch8_Step2": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch8_Step3"
            },
            "Branch8_Step3": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch8_Step4"
            },
            "Branch8_Step4": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch8_Step5"
            },
            "Branch8_Step5": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch8_Step6"
            },
            "Branch8_Step6": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch8_Step7"
            },
            "Branch8_Step7": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch8_Step8"
            },
            "Branch8_Step8": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch8_Step9"
            },
            "Branch8_Step9": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch8_Step10"
            },
            "Branch8_Step10": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch8_Step11"
            },
            "Branch8_Step11": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch8_Step12"
            },
            "Branch8_Step12": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch8_Step13"
            },
            "Branch8_Step13": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch8_Step14"
            },
            "Branch8_Step14": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch8_Step15"
            },
            "Branch8_Step15": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch8_Step16"
            },
            "Branch8_Step16": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch8_Step17"
            },
            "Branch8_Step17": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch8_Step18"
            },
            "Branch8_Step18": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch8_Step19"
            },
            "Branch8_Step19": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch8_Step20"
            },
            "Branch8_Step20": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "End": true
            }
          }
        },
        {
          "StartAt": "Branch9_Step1",
          "States": {
            "Branch9_Step1": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch9_Step2"
            },
            "Branch9_Step2": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch9_Step3"
            },
            "Branch9_Step3": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch9_Step4"
            },
            "Branch9_Step4": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch9_Step5"
            },
            "Branch9_Step5": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch9_Step6"
            },
            "Branch9_Step6": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch9_Step7"
            },
            "Branch9_Step7": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch9_Step8"
            },
            "Branch9_Step8": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch9_Step9"
            },
            "Branch9_Step9": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch9_Step10"
            },
            "Branch9_Step10": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch9_Step11"
            },
            "Branch9_Step11": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch9_Step12"
            },
            "Branch9_Step12": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch9_Step13"
            },
            "Branch9_Step13": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch9_Step14"
            },
            "Branch9_Step14": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch9_Step15"
            },
            "Branch9_Step15": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch9_Step16"
            },
            "Branch9_Step16": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch9_Step17"
            },
            "Branch9_Step17": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch9_Step18"
            },
            "Branch9_Step18": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch9_Step19"
            },
            "Branch9_Step19": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "Next": "Branch9_Step20"
            },
            "Branch9_Step20": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload.$": "States.ArrayGetItem(States.Array($.payloads.greet_payload, $.payloads.upper_payload), States.MathRandom(0, 1))"
              },
              "ResultPath": "$.lambda_result",
              "End": true
            }
          }
        }
      ],
      "Next": "Success"
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}